h1 {
    color: red;
    text-align: center;
}

.searchPage {
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input[type="text"]::placeholder {
    text-align: center;
}

form > input {
    border-radius: 5px;
}

.qbox {
    height: 20px;
    width: 200px;
    vertical-align: top;
}

.searchbutton {
    height:24px;
    vertical-align: top;
}

.headerMain {
    text-align: right;
}